<!-- {{ subjectName    | uppercase}}




<br>
{{ anotherSubject | lowercase}}

<br>

{{todayDAte}}

<br>
{{ todayDAte | date }}   

<br>Medium:
{{ todayDAte | date:'medium' }}     -->
  <!-- // output is 'Jun 15, 2015, 9:43:11 PM' -->

  <!-- <br>shortTime:
{{ todayDAte | date:'shortTime' }}   -->
 <!-- // output is '9:43 PM' -->

  <!-- <br>'mm:ss' :
{{ todayDAte | date:'mm:ss' }}   -->
     <!-- // output is '43:11' -->
<!-- 
   <br>'MMM dd, yyyy 'at' hh:mm a"' :    
{{ todayDAte }}   -->
<!-- // output is 'Jun 15, 2015 at 09:43 PM'
Usage ex  -->

<!-- <br>
{{a | currency}} -->


<!-- "Hello world";

"hello w ... More" -->


<!-- 
i have created few custom the pipe 
Truncate
2 more custom pipes  -->

<!-- 

mad1n123  | pipe
textbox charcters 1,2,3,4 -->
<!-- m a d a n   'madan' -->

<p style="color:blue">
{{sentence | truncate:6:'more'}}
</p>



{{ subjectName  | uppercase  | truncate:3:'click' }}  
<!-- you can do -->


