<!-- <app-comp-a [name]="subjectname">
    <p #paragraph1 style="color:red">How arey ou?</p>
</app-comp-a> -->



<!-- <app-compb></app-compb>



<p style="color:red">
{{"afasasjfbasklfbaslkfbhavsl asifoasliefbalsib" | truncate:10:'info'}}
</p> -->



<p 
 [eleColor]="'blue'" 
 [eleFontSize]="'14px'" 
 [eleBackgroundColor]="'Pink'"
appHighlight>Highlight Color
</p>

<!-- 
<span appHighlight

[eleColor]="'red'"  [eleFontSize]="'24px'" [eleBackgroundColor]="'yellow'"
>Highlight Color</span>


<div>
    <h1 
[eleColor]="'black'"  
[eleFontSize]="'40px'" [eleBackgroundColor]="'gray'" appHighlight>Highlight color</h1>
</div> -->


